{% extends 'base.html'%}

{% load static %}

{% block content%}
<main>
    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <h3><div class="p-3 border bg-success">{{course.title}}</div></h3>
                <img style ="width:100%"src="{{ course.thumbnail.url }}" class="img-thumbnail">
                <p>{{course.content|safe}}</p>
            </div>
        </div>
    </div>
</main>

<script>
    function formExit() {
        document.getElementById("newForm").remove();
    }

    function myFunction(id) {
        if (document.contains(document.getElementById("newForm"))) {
            document.getElementById("newForm").remove();
        }

        var d1 = document.getElementById(id);
        d1.insertAdjacentHTML('afterend',
            '<form id="newForm" class="form-insert py-2" method="post"> \
                <div class="d-flex justify-content-between"><h2>Reply:</h2><div><button type="button" class="btn btn-outline-secondary" onclick="formExit()"">Close</button></div></div> \
                <label for="id_name">Name:</label> \
                <input type="text" name="name" class="col-sm-12" maxlength="50" required="" id="id_name">\
                <select name="parent" class="d-none" id="id_parentt"> \
                <option value="' + id + '" selected="' + id + '"></option> \
                </select> \
                <label for="id_content">Content:</label> \
                <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
                {% csrf_token %} \
                <button type="Post Comment" class="btn btn-primary btn-lg btn-block">Post Comment</button> \
              </form>');

        //document.querySelector('#id_parentt [value="' + id + '"]').selected = true;
    }

    $('#myForm').trigger("reset");
</script>
{% endblock %}